<div class="card shadow-sm">
  <div class="card-body">

    <h4 class="card-title mb-3">
      @if (store.selected()) {
        Editar Persona
      } @else {
        Nueva Persona
      }
    </h4>

    <form [formGroup]="form" (ngSubmit)="guardar()">

      <div class="mb-3">
        <label class="form-label">Nombre</label>

        <input 
          class="form-control"
          formControlName="nombre"
          placeholder="Ingrese nombre"
        />

        @if (form.get('nombre')?.touched && form.get('nombre')?.invalid) {
          <div class="text-danger mt-1">
            El nombre es obligatorio
          </div>
        }
      </div>

      <div class="d-flex gap-2">

        <button 
          class="btn btn-primary"
          type="submit"
          [disabled]="form.invalid"
        >
          @if (store.selected()) {
            Actualizar
          } @else {
            Guardar
          }
        </button>

        @if (store.selected()) {
          <button 
            type="button" 
            class="btn btn-secondary"
            (click)="cancelar()"
          >
            Cancelar
          </button>
        }

      </div>

    </form>

  </div>
</div>